

/*Custom Styles*/


/*EFFECTS*/

.hover { 
  opacity:.5; 
  -webkit-transition:all .3s ease-in-out; 
  -moz-transition:all .3s ease-in-out; 
  -ms-transition:all .3s ease-in-out; 
  -o-transition:all .3s ease-in-out; 
  transition:all .3s ease-in-out; 
} 
  
.entry:hover .hover { opacity:1; } 

nav.primary{background:;}

nav.primary ul li a:active, nav.primary ul li a.selected { 
  background:#000; color:#fff; 
} 


nav.primary li { 
  float:left; 
  list-style:none;
} 

nav.primary ul li a {} 

nav.primary ul li a:active, nav.primary ul li a.selected { background:; text-shadow:none; } 

.page { 
  float:left; 
  width:100%; 
} 

.main { 
  padding:20px 20px 0; 
  margin:70px 0 0 0; 
} 
  


.entry { 
  position:relative; 
  float:left; 
  margin-right:20px; 
  margin-bottom:20px; 
  cursor:pointer; 
  padding:10px; 
  width:200px; 
} 


nav.primary ul li a { 
  height:39px; 
  width:156px; 
  display:block;
  font-size:18px; 
  color:#000; 
  text-indent:0px; 
  text-decoration:none; 
  line-height:39px; 
} 
nav.primary ul li a:hover { 
  color:#999; 
  background-position:center bottom; 
  text-shadow:none;
} 


.isotope-item { 
  z-index: 2; 
} 
  
  .isotope-hidden.isotope-item { 
  pointer-events: none; 
  z-index: 1; 
  } 
  
.isotope, 
.isotope .isotope-item { 
-webkit-transition-duration: 0.8s; 
   -moz-transition-duration: 0.8s; 
        transition-duration: 0.8s; 
} 
  
.isotope { 
-webkit-transition-property: height, width; 
   -moz-transition-property: height, width; 
        transition-property: height, width; 
} 
  
.isotope .isotope-item img:hover { 
-webkit-transition: all 0.3s ease;
-webkit-transform: perspective(800px) rotateY(0deg);
} 

/*SHARED STYLES*/

.intro{margin: 0 auto 2em; font-weight:100; font-size:200%; line-height:1; color:#6A6A6A; text-align: center;}


/*HEADER*/

.header{ padding:0px;}

.callout{background:#f30; padding:60px 0;}
.section{padding:4.5% 0; border-bottom: 1px solid #CCC;}

.companycallout{ margin-bottom:20px;}
.companycallout p{text-align: center;}
.companycallout h1{text-transform: uppercase; font-size:10em; line-height:2em; color:#fff; text-align: center;}
.companycallout h2{font-size:47px;line-height:67px; font-weight:300; text-transform: uppercase;}

/*CALLOUT*/
.calloutleft h2{ margin-top:0; font: 20px/14px "Open Sans",Helvetica,Arial,Sans-serif; color:#9099A3; margin-bottom:18px;text-transform: uppercase; font-weight:200;}
.calloutleft h1{font: bold 54px/50px "Open Sans",Helvetica,Arial,Sans-serif;margin-bottom:30px; margin-top:0; text-transform: uppercase;}
h2.explain{line-height:34px;}
.actionbtn{background:#DD4A38; color: #ECEEF1!important; text-shadow:none; font-weight:bold; margin-right:20px; padding: 15px 25px;}
.actionbtn:hover{background:#DD4A38; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset; -webkit-transition:all .3s linear;}

.explain h2{font-weight:200; max-width: 80%; margin:0 auto; text-align:center; margin-bottom:16px;}
.contactbtn{background:#712514; color: #ECEEF1!important; text-shadow:none; font-weight:bold; padding: 15px 25px;}
.contactbtn:hover{background:#96331D; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset;-webkit-transition:all .3s linear}
.homecallout{color:#A2A9B4;}
.homecallout h2{font:bold 18px/40px "Open Sans",Helvetica,Arial,Sans-serif; color:#2E3846;}



/*PORTFOLIO*/
#portfolio{padding-top:100px; margin-top: 80px; padding-bottom:80px;}
.port{background:#eee; padding:80px 0; color: #000;}
.portfolio .span4{margin-bottom:12px;}

.portfoliocarousel h2{font-size:12px; line-height:14px; text-transform: uppercase;}
.portfoliocarousel p{margin:0px;}

.portfolio figure{margin:0; margin-right:5px; margin-bottom:10px;}


/*CONTACT*/
.contact{}
#contact{padding-top:80px; padding-bottom:80px;}
#contact h2,#about h2,#portfolio h2{font-weight:200; text-align: center; font-size:3em; color: #f30; text-transform:uppercase; line-height:2em;}


/*CONTACT Map*/


#map {height:350px; width:100%; margin-bottom:80px; position: relative; z-index:2000; }

#form fieldset {padding:0; margin-top:40px; margin-bottom:100px;}
#contact-form .field {padding:0 0 10px 0; }
#contact-form .input-text {height:38px;border:1px solid #ebebeb;border-top:1px solid #bfbfbf;background:#f5f5f5;padding:0 10px;font-family:Tahoma, Geneva, sans-serif;font-size:12px;}
#contact-form .input-textarea {height:100px;border:1px solid #ebebeb;border-top:1px solid #bfbfbf;background:#f5f5f5;padding:10px;resize:none;font-family:Tahoma, Geneva, sans-serif;font-size:12px;overflow:hidden;}
#contact-form .input-submit {cursor:pointer;font-size:12px;}
#contact-form label {width:100px;float:left;line-height:30px;text-align:left; font-weight:400; color:#ff1440;font-size: 13px;}
#contact-form .holder {position:relative;}
#contact-form .message {display:none;position:absolute;top:20px;left:160px;color:#fff; font-weight:bold;}
#contact-form .message .top {background:#000; width:428px;height:17px;line-height:0;}
#contact-form .message .contents {background:#000; width:428px;padding:5px 0;}
#contact-form .message .bottom {background:#000; width:428px;height:14px;line-height:0;margin-left:-1px;}
#contact-form #alert {padding:0 20px;}
#contact-form #alert ul {padding:10px 0 0 0;}
#contact-form #alert ul li {line-height:18px;}


/*ABOUT*/
#about{padding-top:80px; margin-top:80px; margin-bottom:80px; padding-bottom:80px;}
.about{background: #121210; color: #CBCBCB; padding:80px 0; }